@import '../../styles/mixins';

.projectsSection {
  @include padding-inline();

  &__title {
    margin: 0;
    margin-top: 80px;

    @include h1();
    text-align: center;

    @include on-tablet() {
      margin-top: 64px;
    }

    @include on-phone() {
      margin-top: 40px;
    }
  }

  &__description {
    margin: 0;
    margin-top: 16px;
    text-align: center;
    display: block;
    width: 100%;

    @include main-text();
  }

  
}

.supportSection {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 600px;

  @include on-tablet() {
    min-height: 400px;
  }

  &__title {
    @include h2();

    margin: 0;
    z-index: 10;
    color: var(--white-color);

    @include on-phone() {
      max-width: 312px;
      text-align: center;
    }
  }

  &__description {
    margin: 0;
    margin-top: 16px;
    text-align: center;

    @include main-text();

    color: var(--white-color);
    z-index: 10;
  }

  &__button {
    @include yellow-button(410px, 48px);
    background-color: transparent;
    color: var(--button-yellow-color);

    margin-top: 32px;
    z-index: 10;

    @include on-tablet() {
      width: 344px;
    }

    @include on-tablet() {
      width: 312px;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--black-color);
    }
  }
}