@import '../styles/mixins';

html, body {
  overflow-x: hidden;
  background-color: var(--background-color);
}

html {
  --black-color: #1c1c1c;
  --white-color: #f5f5f5;
  --light-blue-color: #e3f2fd;

  --button-blue-color: #1976d2;
  --button-blue-hover-color: #1259a7;
  --button-blue-active-color: #0d3f78;

  --button-yellow-color: #ffc107;
  --button-yellow-hover-color: #ffe69a;
  --button-yellow-active-color: #ffb300;

  --gray-10-color: #f0f0f0;
  --gray-25-color: #e0e0e0;
  --gray-50-color: #adb5bd;
  --gray-75-color: #b0b0b0;
  --gray-100-color: #343a40;

  --background-color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
}