@import '../../styles/mixins';

.card {
  grid-column: span 4;
  border-radius: 8px 0 0 8px;
  border-left: 8px solid var(--button-yellow-color);
  padding-left: 24px;
  box-sizing: border-box;
  
  &__title {
    @include h4();
    margin: 0;
    margin-top: 16px;
  }

  &__description {
    @include main-text();

    margin: 0;
    margin-top: 16px;
  }
}