@import '../styles/mixins';

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.section {
  @include padding-inline();
  @include page-grid();
}

.homeSection {
  height: 100vh;
  background-image: url('/main-bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @include h1();

    color: var(--white-color);
    margin: 0;
  }

  &__subtitle {
    @include h4();

    color: var(--white-color);
    margin: 0;
    margin-top: 16px;
  }

  &__button {
    @include blue-button(410px, 48px);

    margin-top: 32px;
  }
}

.secondTitle {
  @include h2();
  margin: 0;
  text-align: center;
  grid-column: 1/-1;
}

.projectsSection {
  position: relative;

  &__desc {
    margin: 0;
    margin-top: 16px;
    text-align: center;
    grid-column: 1/-1;

    @include main-text();
  }

  &__fondsBox {
    grid-column: 1 / -1;

    @include page-grid();
    
    margin-top: 25px;
    z-index: 100;
  }

  &__blueLine {
    position: absolute;
    top: 50%;
    left: -20%;
  }

  &__yellowLine {
    position: absolute;
    top: 40%;
    right: -20%;
  }
}