@use '../../styles/mixins' as *;

.footer {
  width: 100%;

  background-color: var(--gray-10-color);

  &__container {
    @include padding-inline();
    padding: 40px 80px;
    box-sizing: border-box;

    @include page-grid();
  }

  &__firstColumn {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;

    & img {
      width: calc(50% - 12px);
    }

    @include on-phone() {
      grid-column: 1/-1;
    }
  }

  &__description {
    @include small-text();

    margin: 0;
    margin-top: 16px;
    color: var(--gray-75-color);

    @include on-tablet() {
      margin-top: 0;
    }
  }

  &__link {
    @include small-text();

    position: relative;
    color: var(--black-color);
    margin: 0;
    margin-top: 50px;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      width: 183px;
      height: 1px;
      background-color: var(--black-color);
      left: 0;
      bottom: 0;
    }

    @include on-tablet() {
      margin-top: 16px;
    }
  }

  &__secondColumn {
    grid-column: 5 / 7;
    display: flex;
    flex-direction: column;

    @include on-tablet() {
      grid-column: 6/-1;
      margin-top: 25px;
    }

    @include on-phone() {
      grid-column: 1/-1;
    }
  }

  &__subtitle {
    @include main-text();

    margin: 0;
    color: var(--gray-75-color);
  }

  &__list {
    margin-top: 24px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include on-tablet() {
      margin-top: 12px;
    }

    @include on-phone() {
      margin-top: 8px;
    }
  }

  &__navLink {
    @include secondary-text();

    color: var(--black-color);
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: var(--button-blue-color);
    }
  }

  &__thirdColumn {
    grid-column: 7 / 10;
    display: flex;
    flex-direction: column;

    @include on-tablet() {
      grid-column: 6/-1;
    }

    @include on-phone() {
      grid-column: 1/-1;
    }
  }

  &__email {
    text-decoration: none;

    @include secondary-text();

    color: var(--black-color);
    margin: 0;
    margin-top: 16px;

    @include on-phone() {
      margin-top: 8px;
    }
  }

  &__forthColumn {
    grid-column: 10 / -1;
    display: flex;
    flex-direction: column;

    @include on-tablet() {
      grid-column: 1/4;
      grid-row: 2/3;
    }

    @include on-phone() {
      grid-column: 1/-1;
      grid-row: 4/5;
      margin-top: 16px;
    }
  }

  &__support {
    @include h4();

    margin: 0;

    @include on-tablet() {
      text-wrap: nowrap;
    }
  }

  &__button {
    @include blue-button(100%, 48px);

    margin-top: 16px;

    @include on-tablet() {
      margin-top: 8px;
    }
  }

  &__line {
    grid-column: 1/-1;
    height: 1px;
    background-color: var(--gray-50-color);
    margin-top: 40px;
  }

  &__info {
    margin-top: 32px;
    grid-column: 1/-1;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright,
  &__madeBy {
    margin: 0;

    @include small-text();

    color: var(--gray-75-color);
  }
}