.galleryWrapper {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
}

.mainSlider {
  position: relative;
  height: 600px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.thumbSlider {
  align-self: center;
  display: flex;
  gap: 12px;
  height: 140px;

  @for $i from 1 through 10 {
  &--#{$i} {
    width: #{160 * $i + 24 * ($i - 1)}px;
  }
}
}

.thumbSlide {
  border-radius: 16px;
  width: 160px;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.3s;
}
