@use '../../styles/mixins.scss' as *;

.galleryWrapper {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
}

.mainSlider {
  position: relative;
  height: 600px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;

  @include on-phone() {
    height: 150px;
  }
}

.slide {
  position: absolute;
  width: 1280px;
  height: 600px;
}

.thumbSlider {
  align-self: center;
  display: flex;
  gap: 12px;
  height: 140px;

  @for $i from 1 through 10 {
    &--#{$i} {
      width: #{160 * $i + 24 * ($i - 1)}px;
    }
  }

  @include on-phone() {
    @for $i from 1 through 10 {
    &--#{$i} {
      width: #{80 * $i + 24 * ($i - 1)}px;
    }
  }
  }
}

.thumbSlide {
  border-radius: 16px;
  width: 160px;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.3s;

  @include on-phone() {
    width: 80px;
    height: 60px;
  }
}


