@use '../../styles/mixins';

.main {
  @include padding-inline();
}

.firstSection {
  @include page-grid();

  margin-top: 80px;
  flex-wrap: wrap;

  @include on-tablet() {
    margin-top: 64px;
  }

  @include on-phone() {
    margin-top: 40px;
  }

  &__title {
    @include h1();

    margin: 0;
    grid-column: 1/-1;
    text-align: center
  }

  &__description {
    @include main-text();

    margin: 0;
    margin-top: 16px;
    grid-column: 1/-1;
    text-align: center;
  }

  &__button {
    @include blue-button(100%, 48px);

    grid-column: 5/9;
    margin-top: 32px;
    text-decoration: none;

    @include on-tablet() {
      grid-column: 3 / 7;
    }

    @include on-phone() {
      grid-column: 1/-1;
    }
  }

  &__articleBox {
    margin-top: 80px;
    grid-column: 1/-1;

    @include page-grid();

    @include on-tablet() {
      row-gap: 24px;
    }
  }

  &__article {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding: 24px;

    background-color: var(--light-blue-color);
    border-radius: 16px;


    @include on-phone() {
      grid-column: span 2;
    }
  }

  &__articleImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--button-yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__articleTitle {
    margin: 0;
    margin-top: 32px;

    @include h4();
  }

  &__articleDescription {
    @include main-text();

    margin: 0;
    margin-top: 8px;
    text-align: start;
  }
}

.becomeAnAuthorSection {
  @include page-grid();
  margin-top: 80px;
  row-gap: 32px;

  @include on-tablet() {
    row-gap: 24px;
    margin-top: 64px;
  }

  &__mainTitle {
    @include h2();

    margin: 0;
    grid-column: 1/-1;

    text-align: center;
  }

  &__article {
    grid-column: 1/-1;

    @include page-grid();

    align-items: center;

    @include on-phone() {
      row-gap: 8px;
    }
  }

  &__image {
    position: relative;
    z-index: 100;

    grid-column: 1/6;
    min-height: 300px;

    @include on-tablet() {
      grid-column: 1/5;
    }

    @include on-phone() {
      grid-column: 1/-1;
      order: 2;
    }

    &:nth-of-type(2n) {
      grid-column: 8 / -1;

      @include on-tablet() {
        grid-column: 5/-1;
      }

      @include on-phone() {
        grid-column: 1/-1;
      }
    }

    & img {
      border-radius: 16px;
    }
  }

  &__number {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 80px;
    color: var(--gray-25-color);
    margin: 0;

    @include on-tablet() {
      font-size: 64px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 32px;

    @include h4();

    @include on-phone() {
      margin-top: 8px;
    }
  }

  &__description {
    margin: 0;
    margin-top: 16px;

    @include main-text();

    @include on-phone() {
      margin-top: 4px;
    }
  }

  &__text {
    grid-column: 6/11;

    @include on-tablet() {
      grid-column: 5/-1;
    }

    @include on-phone() {
      grid-column: 1/-1;

      order: 1;
    }

    &--reversed {
      grid-column: 3/8;

      @include on-tablet() {
        grid-column: 1/5;
      }

      @include on-phone() {
        grid-column: 1/-1;
      }
    }

  }
}

.faqSection {
  margin-block: 80px;

  @include page-grid();

  @include on-tablet() {
    margin-block: 64px;
  }

  &__title {
    grid-column: 1/-1;

    text-align: center;

    @include h2();
  }

  &__questions {
    grid-column: 3 / 11;

    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet() {
      grid-column: 2/8;
    }

    @include on-phone() {
      grid-column: 1/-1;
    }
  }
}