@import '../../styles/mixins';

.main {
  @include padding-inline();
}

.firstSection {
  @include page-grid();

  margin-top: 60px;

  &__title {
    @include h1();

    margin: 0;
    grid-column: 1/-1;
    text-align: center
  }

  &__description {
    @include main-text();

    margin: 0;
    margin-top: 16px;
    grid-column: 1/-1;
    text-align: center;
  }

  &__button {
    @include blue-button(100%, 48px);

    grid-column: 5 / 9;
    margin-top: 32px;
    text-decoration: none;
  }

  &__article {
    margin-top: 80px;

    grid-row: 4/5;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    padding: 24px;

    background-color: var(--light-blue-color);
    border-radius: 16px;
  }

  &__articleImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--button-yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__articleTitle {
    margin: 0;
    margin-top: 32px;

    @include h4();
  }

  &__articleDescription {
    @include main-text();

    margin: 0;
    margin-top: 8px;
    text-align: start;
  }
}

.becomeAnAuthorSection {
  @include page-grid();
  margin-top: 80px;
  row-gap: 32px;

  &__mainTitle {
    @include h2();

    margin: 0;
    grid-column: 1/-1;

    text-align: center;
  }

  &__article {
    grid-column: 1/-1;

    @include page-grid();

    align-items: center;
  }

  &__image {
    position: relative;
    z-index: 100;

    grid-column: 1/6;
    min-height: 300px;

    &:nth-of-type(2n) {
      grid-column: 8 / -1;
    }
    
    & img {
      border-radius: 16px;
    }
  }

  &__number {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 80px;
    color: var(--gray-25-color);
    margin: 0;
  }

  &__title {
    margin: 0;
    margin-top: 32px;

    @include h4();
  }

  &__description {
    margin: 0;
    margin-top: 16px;

    @include main-text();
  }

  &__text {
    grid-column: 6/11;

    &--reversed {
      grid-column: 3/8;
    }
  }
}

.faqSection {
  margin-block: 80px;

  @include page-grid();

  &__title {
    grid-column: 1/-1;

    text-align: center;

    @include h2();
  }

  &__questions {
    grid-column: 3 / 11;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}